.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @media (min-width: 1200px) {
    .cardItem {
      width: calc(25% - 1rem);
    }

    .cardItem:nth-child(1):only-child {
      width: 100%;
    }

    .cardItem:nth-child(1):nth-last-child(2),
    .cardItem:nth-child(2):nth-last-child(1) {
      width: calc(50% - 1rem);
    }
  }

  @media (max-width: 1200px) {
    .cardItem {
      width: calc(33.33% - 1rem);
    }
    .cardItem:nth-child(1):only-child {
      width: 100%;
    }
  }

  @media (max-width: 800px) {
    .cardItem {
      width: calc(50% - 1rem);
    }
  }

  @media (max-width: 600px) {
    .cardItem {
      width: 100%;
    }
  }
}
